@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dae8e8;
}
.content{
    background-color: white;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0%;
}
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary{
    color: white;
}
.title-second{
    color: #58af9b;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: white;
}
.description-second{
    color: #7f8c8d;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;

}
.btn-primary{
    background-color: transparent;
    border: 1px solid white;
    transition: background-color .5s;
}
.btn-primary:hover{
    background-color: white;
    color: #58af9b;
}
.btn-second{
    background-color: #58af9b;
    color: white;
    transition: background-color .5s;
}
.btn-second:hover{
    background-color: transparent;
    color: #58af9b;
    border: 1px solid  #58af9b;

}
.first-content{
    display: flex;
    border: 1px solid #58af9b;
}
.first-content .second-column{
    z-index: 11;
}
.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 55%;


}
.form input{
    border: none;
    background-color: #58af9b;
    margin: 8px;
    color: white;

}
.form-control{
    height: 45px;
    width: 100%;
}
.form input::placeholder{
    color: white;
    font-size: 16px;
    padding: 0 5px;
}
.form-user{
    display: flex;
}
.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;

}
/*Content do login*/
.second-content{
    position: absolute;
    display: flex;
}
.second-content .first-column{
    order: 2;
    z-index: -1;
}
.second-content .second-column{
    order: 1;
    z-index: -1;
}
.a-esqueceu{
    text-align: center;
    color: #7f8c8d;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
    z-index: -1;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column{
    z-index: 11;
}

.sign-in-js .content::before{
    left: 60%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 3s;

}
.sign-up-js .content::before{
    animation: slideout 3s;
}
.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column{
    z-index: 11;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -1;
}

/*animação*/

@keyframes slidein {

    from{
        left: 0;
        width: 40%;
    }
    25%{
        left: 5%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to{
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from{
        left: 60%;
        width: 40%;
    }
    25%{
        left: 45%;
        width: 50%;
    }
    50%{
        left: 25%;
        width: 60%;
    }
    75%{
        left: 5%;
        width: 50%;
    }
    to{
        left: 0%;
        width: 40%;
    }
}
